<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- meta data --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Tailwind --}}
    <link rel="stylesheet" href="../../build/tailwind.css" />

    {{!-- jQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Quiz Generator</title>
</head>

<body class="bg-teal-100">
    {{{body}}}
</body>

</html>