{{!-- Title --}}
<div class="border bg-white shadow-lg px-2 py-3 m-4">
    <div class="text-center text-4xl text-bold text-green-500 mb-5">Welcome <span class="member-name"></span></div>

    <div class="grid grid-cols-3">
        <div></div>

        <div>
            <p class="text-gray-700 text-md text-center font-bold">Admin Quiz Management</p>
        </div>

        {{!-- Create quiz and logout buttons --}}
        <div class="ml-auto">
            <button id="createQuizBtn"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Create Quiz
            </button>
            <button id="logoutBtn"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                <a href="/logout">Logout</a>
            </button>

        </div>
    </div>

    <!-- Table with info of the various quizes -->
    <div class="quizContainer mt-2 w-auto"></div>
</div>

<script src=" ../../js/adminDashboard.js">
</script>