<div class="flex screen-height w-full items-center justify-center max-w-md m-auto">
    <form class="login bg-gray-200 w-full shadow-lg rounded border-solid px-8 pt-6 pb-8 mb-4">
        <div class="text-center text-4xl text-bold text-green-500 mb-5">Login</div>

        {{!-- Username input --}}
        <div class="mb-4">
            <label class="block text-gray-700 text-md font-bold mb-2" for="username">
                Username
            </label>
            <input id="username-input"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="Username">
        </div>

        {{!-- Password input --}}
        <div class="mb-6">
            <label class="block text-gray-700 text-md font-bold mb-2" for="password">
                Password
            </label>
            <input id="password-input"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                type="password" placeholder="******************">
        </div>

        {{!-- Sign-in button --}}
        <div class="flex items-center justify-between">
            <button
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Login
            </button>

            {{!-- Sign-up button --}}
            <button id="signupBtn"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Sign Up
            </button>
    </form>
</div>
<p class="text-center text-gray-500 text-xs"></p>
</div>

{{!-- Footer --}}
<footer class="flex justify-center px-4 bg-green-500 text-gray-100 mb-auto">
    <div class="container py-6 text-center">
        <hr class="h-px mt-6 footer-divider border-none">

        <div class="grid grid-cols-1 text-center mt-6">
            <div class="text-lg">© Copyright 2020 by Ramsay Gonzalez, Ioannis Sporidis-Foster, Matt Nicolai, Julian
                Dolinay</div>
            <div class="flex mx-auto mt-4 justify-center">
                <iframe class="github-btn"
                    src="https://ghbtns.com/github-btn.html?user=ramsaygonzalez&type=follow&count=true" frameborder="0"
                    scrolling="0" width="170px" height="20px"></iframe>
                <iframe class="github-btn"
                    src="https://ghbtns.com/github-btn.html?user=dmjohnspor&type=follow&count=true" frameborder="0"
                    scrolling="0" width="170px" height="20px"></iframe>
                <iframe class="github-btn"
                    src="https://ghbtns.com/github-btn.html?user=mnicolai20&type=follow&count=true" frameborder="0"
                    scrolling="0" width="170px" height="20px"></iframe>
                <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=dolinay1&type=follow&count=true"
                    frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </div>
        </div>
    </div>
</footer>

{{!-- JS script --}}
<script src="../../js/login.js"></script>